2^[[:space:]]Year/Aiv_Projects01/ filter=lfs diff=lfs merge=lfs -text
Year/ProjectsAivShaders/Assets/Textures/StoneFloor/Stone_floor.tga filter=lfs diff=lfs merge=lfs -text
2^ filter=lfs diff=lfs merge=lfs -text
2^[[:space:]]Year/ProjectsAivShaders/Assets/Textures/StoneFloor/Stone_floor.tga filter=lfs diff=lfs merge=lfs -text
2^[[:space:]]Year/ProjectsAivShaders/Assets/Textures/StoneFloor/Stone_floor_n.tga filter=lfs diff=lfs merge=lfs -text
2^[[:space:]]Year/ProjectsAivShaders/Assets/Textures/ShaderTextures/Page.psd filter=lfs diff=lfs merge=lfs -text
2^[[:space:]]Year/ProjectsAivShaders/Assets/3D/Lion_Statue/Textures/Lion/Lion_Statue_Occlusion.png filter=lfs diff=lfs merge=lfs -text
2^[[:space:]]Year/ProjectsAivShaders/Assets/3D/Lion_Statue/Textures/Block/Stone_Block_MetallicSmoothness.tga filter=lfs diff=lfs merge=lfs -text
2^[[:space:]]Year/ProjectsAivShaders/Assets/3D/Lion_Statue/Textures/Lion/Lion_Statue_Albedo.png filter=lfs diff=lfs merge=lfs -text
2^[[:space:]]Year/ProjectsAivShaders/Assets/3D/Lion_Statue/Textures/Lion/Lion_Statue_Normal.png filter=lfs diff=lfs merge=lfs -text
